.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2100;
	display: flex;
	justify-content: flex-end;
	padding-top: 30px;
	background-color: transparent;

	@include desktop {
		padding-top: 100px;
	}

	&__logo {
		position: absolute;
		left: 0;
		display: block;
		transition: $duration-normal;
	}

	&__menu {
		display: none;

		@include desktop {
			display: flex;
			align-self: flex-end;
		}

		.header__list {
			display: flex;
			width: 100%;
		}

		.header__link {
			position: relative;
			display: flex;
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			color: $color-main;

			&:not(:last-child) {
				margin-right: 30px;
			}

			@include hover {
				color: $color-blue;
			}

			@include active {
				color: $color-blue;

				&::before {
					@include sprite("active");

					content: "";
					position: absolute;
					left: -20px;
					top: -100px;
					z-index: -1;
				}
			}
		}
	}

	&__menu--mobile {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 98;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		overflow-y: auto;
		margin: 0;
		padding: 0 20px;
		width: 100vw;
		height: 100vh;
		color: $color-main;
		background-color: $color-back;
		opacity: 0;
		visibility: hidden;
		transform: translateX(100%);
		transition: $duration-normal;
		-webkit-overflow-scrolling: touch;

		.header__list {
			padding-top: 50px;
			width: 100%;
			text-align: center;
		}

		.header__link {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: left;
			margin: 0 auto;
			padding: 10px 0 10px 20px;
			min-height: 51px;
			font-weight: 700;
			font-size: 26px;
			line-height: 31px;
			text-align: left;
			color: $color-main;
			background-color: transparent;

			&:not(:last-of-type) {
				margin-bottom: 20px;
			}

			@include hover {
				color: $color-blue;
			}

			@include active {
				color: $color-blue;

				&::before {
					@include sprite("active");

					content: "";
					position: absolute;
					left: 13px;
					top: -80px;
					z-index: -1;
				}
			}
		}

		@include active {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}

		@include desktop {
			display: none;
		}
	}

	.sprite-clock {
		display: block;
		margin-top: -50px;

		@include desktop {
			display: none;
		}
	}

	&__burger {
		z-index: 100;
		display: flex;
		flex-direction: column;
		width: 26px;
		color: $color-main;

		span {
			display: block;
			width: 26px;
			height: 2.25px;
			background-color: $color-main;
			transition: $duration-normal;

			&:nth-child(2) {
				margin: 5.5px 0;
			}
		}

		@include desktop {
			display: none;
		}

		@include active {
			span {
				&:first-child {
					transform: translate(0, 3px) rotate(-45deg);
				}

				&:last-child {
					transform: translate(0, 0) rotate(45deg);
				}

				&:nth-child(2) {
					display: none;
				}
			}
		}
	}
}
