.big {
	display: flex;
	height: 32px;

	& .rhombs__el {
		width: 15px;
		height: 15px;
		mix-blend-mode: normal;
		transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);

		&:first-child {
			left: -14px;
			z-index: 20;
			border-radius: 8px;
			width: 30px;
			height: 30px;
		}

		&:last-child {
			left: -27px;
			top: 2px;
			z-index: 10;
			border-radius: 4px;
		}

		&:nth-child(2) {
			left: 12px;
			top: 2px;
			z-index: 10;
			border-radius: 4px;
		}
	}
}

.rhombs {
	position: relative;

	&__el {
		position: absolute;
		top: -5px;
		border-radius: 2px;
		width: 12px;
		height: 12px;
		background: transparent;
		mix-blend-mode: normal;
		transform: rotate(-45deg);

		&:first-child {
			z-index: 20;
		}

		&:last-child {
			left: 18px;
			z-index: 10;
		}

		&:nth-child(2) {
			left: 9px;
			z-index: 15;
		}
	}

	& .fiolet {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #aea9fe 0deg, #938df8 360deg);
	}

	& .yellow {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #ffe975 0deg, #ffcf41 360deg);
	}

	& .blue {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #77c9fb 0deg, #4ebff3 360deg);
	}

	& .fiolet-big {
		border: 4px solid #ccc9fd;
		background: conic-gradient(from 225deg at 94.19% 5.24%, #aea9fe 0deg, #938df8 360deg);
	}

	& .yellow-big {
		border: 3px solid #fff3b5;
		background: conic-gradient(from 225deg at 94.19% 5.24%, #ffe975 0deg, #ffcf41 360deg);
	}

	& .blue-big {
		border: 3px solid #c0f0ff;
		background: conic-gradient(from 225deg at 94.19% 5.24%, #77c9fb 0deg, #4ebff3 360deg);
	}

	& .red {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #fe73a5 0deg, #ef5389 360deg);
	}

	& .green {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #64ddba 0deg, #3fc59d 360deg);
	}

	& .green-big {
		border: 4px solid #7cf5d2;
		background: conic-gradient(from 225deg at 94.19% 5.24%, #64ddba 0deg, #3fc59d 360deg);
	}

	& .orange {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #ffbb87 0deg, #ffa35c 360deg);
	}

	& .orange-dark {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #ffbb87 0deg, #ffa45e 360deg);
	}

	.orange-light {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #ffbc89 0deg, #ffa25a 360deg);
	}

	.orange-light-big {
		border: 4px solid #ffd5b4;
		background: conic-gradient(from 225deg at 94.19% 5.24%, #ffbc89 0deg, #ffa25a 360deg);
	}

	.rose {
		background: conic-gradient(from 225deg at 94.19% 5.24%, #fe73a5 0deg, #ef5389 360deg);
	}

	.rose-big {
		border: 4px solid #ff99be;
		background: conic-gradient(from 225deg at 94.19% 5.24%, #fe73a5 0deg, #ef5389 360deg);
	}
}
