.up-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33px;
	height: 33px;
	pointer-events: none;

	@include desktop {
		right: 25px;
		bottom: 90px;
		width: 52px;
		height: 52px;
	}

	& .progress {
		position: absolute;
	}

	& .progress-ring__default {
		position: absolute;
		z-index: 40000;
		display: none;
		transform: rotate(-90deg) scale(1, -1);
		transform-origin: center;
		@include desktop {
			display: block;
		}

		&--mobile {
			position: absolute;
			z-index: 40000;
			display: block;
			transform: rotate(-90deg) scale(1, -1);
			transform-origin: center;

			@include desktop {
				display: none;
			}
		}
	}

	& .progress-ring__active {
		position: absolute;
		z-index: 50000;
		display: none;
		transform: rotate(-90deg);
		transform-origin: center;

		@include desktop {
			display: block;
		}

		&--mobile {
			position: absolute;
			z-index: 50000;
			display: block;
			transform: rotate(-90deg);
			transform-origin: center;

			@include desktop {
				display: none;
			}
		}
	}

	& span {
		font-weight: 400;
		font-size: 10px;
		line-height: 80%;
		color: $color-main;

		@include desktop {
			font-size: 14px;
			line-height: 100%;
		}
	}
}

.arrow {
	display: none;
	width: 10px;
	height: 12px;

	@include desktop {
		width: 18px;
		height: 24px;
	}
}

.is-visible {
	display: flex;
}

.is-none {
	display: none;
}

.is-active {
	pointer-events: auto;
}
