.work {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&:not(:last-of-type) {
		margin-bottom: 60px;
	}

	&__dates {
		margin-bottom: 8px;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: $color-secondary;
	}

	&-position {
		display: flex;
		align-items: center;
		margin-bottom: 8px;

		&__name {
			margin-right: 8px;
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			color: $color-main;
		}
	}

	&-place {
		display: flex;
		align-items: center;
		margin-bottom: 8px;

		&__block {
			display: flex;
			flex-wrap: wrap;
		}

		&__name {
			margin-right: 8px;
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			color: $color-main;
		}

		&__about {
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			color: $color-main;
		}

		&__img {
			margin-right: 8px;
		}
	}

	&__text {
		margin-bottom: 4px;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: $color-main;
	}

	&-projects {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&__link {
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			text-decoration-line: underline;
			color: $color-blue;

			&:not(:first-of-type) {
				margin-top: 3px;
			}

			@include hover {
				text-decoration: none;
			}
		}
	}
}
