.resume {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 130px;

	@include desktop {
		margin-top: 290px;
	}

	&__line {
		position: absolute;
		left: -12px;
		right: 0;
		top: 10%;

		@include desktop {
			right: auto;
			top: 135px;
		}
	}

	& .resume__logo {
		position: absolute;
		top: -120px;
		width: 80px;
		height: 80px;

		@include desktop {
			top: -190px;
			width: 150px;
			height: 150px;
		}
	}

	&__row {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 40px;

		@include desktop {
			flex-direction: row;
			margin-bottom: 200px;
		}

		&:last-of-type {
			justify-content: center;
			margin-bottom: 40px;

			@include desktop {
				margin-bottom: 50px;
			}
		}

		& + #about {
			margin-bottom: 40px;

			@include desktop {
				margin-bottom: 160px;
			}
		}

		& .resume__downline {
			position: absolute;
			bottom: -100px;

			@include desktop {
				bottom: -330px;
			}
		}
	}

	h2 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 22px;
		line-height: 26px;
		color: $color-main;

		@include desktop {
			margin-bottom: 30px;
			font-size: 24px;
			line-height: 29px;
		}
	}

	&-skills {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 40px;

		@include desktop {
			margin-bottom: 200px;
		}

		&__block {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;

			@include desktop {
				flex-direction: row;
			}
		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&:first-of-type {
			width: 100%;

			@include desktop {
				width: 500px;
			}

			@media screen and (min-width: 1200px) {
				width: 560px;
			}
		}

		&:nth-of-type(3) {
			max-width: 100%;

			h2 {
				margin-bottom: 26px;

				@include desktop {
					margin-bottom: 45px;
				}
			}

			@include desktop {
				align-items: center;
				margin-right: 0;
			}

			@media screen and (min-width: 1200px) {
				margin-right: 55px;
				max-width: 220px;
			}
		}

		&:nth-of-type(2) {
			position: relative;
			margin: 40px auto;
			height: 100%;

			@include desktop {
				margin: 0;
			}

			& .resume__user {
				width: 200px;
				height: 200px;

				@include desktop {
					position: sticky;
					top: 125px;
					width: 500px;
					height: 500px;
				}
			}

			@media screen and (min-width: 1025px) {
				position: absolute;
				right: 70px;
			}

			@media screen and (min-width: 1201px) {
				right: 175px;
			}
		}
	}

	&__education {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;

		@include desktop {
			flex-direction: column;
			align-items: center;
		}
	}

	h1 {
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 28px;
		color: $color-main;

		@include desktop {
			margin-bottom: 30px;
			font-size: 36px;
			line-height: 140%;
		}
	}

	&__info {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 590px;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-right: 132px;
	}

	&__about {
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: $color-main;
		transition: all 2s;

		@include desktop {
			margin-bottom: 0;
		}
	}

	&__link {
		margin-bottom: 10px;
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: $color-main;

		@include hover {
			color: $color-blue;
		}

		@include active {
			color: $color-blue;
		}
	}

	&__city {
		margin-bottom: 15px;
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: $color-main;
	}

	&__social {
		display: flex;
		justify-content: space-between;

		svg {
			width: 25px;
			height: 25px;
		}
	}

	&__share {
		border: none;
		padding: 0;
		cursor: pointer;

		&:not(:last-of-type) {
			margin-right: 20px;
		}
	}
}

.animate {
	animation: 3s fadeOut linear;
}

@keyframes fadeOut {
	from {
		opacity: 0;
		visibility: hidden;
		transform: translateY(40px);
	}

	to {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}
